[2017-11-03 21:48] miglesiasEB opened #33 "Configure Release process to generate dist and docs in Travis"
## Expected Behavior

When we release a new version in NPM, we want Travis to build the new version of the docs and to generate the new distribution files.

## Current Behavior

We have to do it manually before releasing

## Possible Solution

It could be:
* Prepare on package.json
* Some other (research a bit)

## Context

This will make our repo cleaner and our code reviews easier.
We could also

[2017-11-14 00:38] Golodhros opened #40 "Use 'update' instead of remove and re-create the charts"
## Expected Behavior

We should be using the chart's file 'update' instead of removing and creating the chart again when new properties are passed in

## Possible Solution

Explore the use of update

## Context

We should try to update instead of re-create the chart for obvious performance reasons

[2017-11-14 00:39] Golodhros opened #41 "Registry Britecharts-React in jsdelivr to get CDN link"
## Expected Behavior

We want to be able to provide CDN links to our users the same way we do in Britecharts

## Possible Solution

Registry Britecharts REact in jsdlvr

[2017-11-14 00:43] Golodhros opened #42 "Add favicons and more configuration to the docs homepage"
## Expected Behavior

We want to add the following:
[code]
Along with the project's icons.
[favicons.zip](https://github.com/eventbrite/britecharts-react/files/1469148/favicons.zip)

## Context

Polishing the docs homepage

[2017-11-14 00:51] Golodhros opened #43 "Change sidebar Component names to something more human readable"
## Expected Behavior

The component names are more a human name than the file name

## Current Behavior

We see the component name as declared in the code

[2017-11-14 00:52] Golodhros opened #44 "Create Line Chart"
## Expected Behavior

Have a line chart as the one in Britecharts

[2017-11-14 00:52] Golodhros opened #45 "Create Bar Chart"
## Expected Behavior

Have a Bar chart as Britecharts'

[2017-11-14 01:04] Golodhros opened #46 "Build system should copy the Britecharts styles into the dist folder"
## Expected Behavior

We want the user to use Britecharts' styles, so we will copy them into the dist folder of Britecharts-React

## Current Behavior

Right now, users need to go and fetch those styles into the Britecharts node_modules folder

## Possible Solution

Some kind of task that brings the styles in

## Context

Making Britecharts React easier to work with

[2017-11-14 01:05] MartinKolarik commented on #41
You can find the files at https://www.jsdelivr.com/package/npm/britecharts-react ;)

[2017-11-14 01:16] Golodhros commented on #41
Oh, Awesome!

Thanks

[2017-11-14 01:16] #41 closed

[2017-11-16 03:45] #43 closed

[2017-11-21 01:30] miglesiasEB opened #50 "Demo responsive container not grabbing the right size"
## Expected Behavior

The containers show up with the right sizes

## Current Behavior

![fullscreen_11_20_17__5_28_pm](https://user-images.githubusercontent.com/9063187/33050196-6b0b24c2-ce18-11e7-8813-5d46aee9989e.png)

[2017-11-21 12:31] RoeeTencer opened #52 "RTL languages not supported in legend"
Request for support of RTL languages

## Expected Behavior
Full support for all languages

## Current Behavior
Not supporting hebrew in legend component
## Possible Solution
Please add the rtl support:)

## Your Environment

* Version used: last version.
* Browser Name and version:
* Operating System and version (desktop or mobile): mac OSX El capitan

![image](https://user-images.githubuserconten

[2017-11-22 23:31] #40 closed

[2017-11-30 22:14] rubenmoya commented on #45
Hi! I'm finishing the `Bar Chart`, it's working like a charm in the styleguide, now I just need to add the tests, but I'm getting this error when using `.create`:
[code]
rings a bell?

[2017-11-30 22:54] miglesiasEB opened #55 "Create loading states for charts"
## Expected Behavior

We would like to provide a default loading state for the charts that can be configured.
It will be an svg element with an animation.

## Current Behavior

Right now, users will need to specify the loading states for each chart.

## Possible Solution
Make the loading state show when the data is empty and render the real chart when it is something other than an empty list.

![l

[2017-11-30 23:49] Golodhros commented on #45
Hi @rubenmoya, thanks for doing this!!
That's usually related to the text wrapping helper. In Britecharts, that would be coming from the call to wrapTextWithEllipses inside the bar chart.

If you can't figure it out, you could push a branch and we could take a look.

Thanks a lot!

[2017-11-30 23:54] miglesiasEB commented on #52
Hi @RoeeTencer, thanks for the issue!

I see. It kind of makes sense, as it is made with SVG instead of HTML (that has a built-in support for rtl languages).

[2017-12-01 01:57] dalerasrorov-eb commented on #50
https://github.com/eventbrite/britecharts-react/pull/62

[2017-12-01 01:57] #50 closed

[2017-12-02 11:18] rubenmoya commented on #45
I've opened a PR with the changes and the test failing: https://github.com/eventbrite/britecharts-react/pull/65

I haven't been able to figure it out :(

[2017-12-02 16:38] miglesiasEB opened #67 "Create commonjs build target"
## Expected Behavior

We want to expose a commonjs versions of the modules. They would leave in /lib/cjs

## Current Behavior

We just have umd

## Possible Solution

Upgrading our build system to produce this

[2017-12-02 16:41] miglesiasEB opened #68 "Add Code of Conduct"
## Expected Behavior

We want to have a code of conduct like the one in Britecharts(https://github.com/eventbrite/britecharts/blob/master/.github/CODE_OF_CONDUCT.md)

## Current Behavior

We don't have any

## Possible Solution

Add the same one and a link from the Contributing guide

## Context

We want to make the project friendly for contributors

[2017-12-02 19:52] #42 closed

[2017-12-05 20:46] nathanbirrell commented on #44
Are you looking for anyone to help out with this?

I need a line chart for a current project of mine, would be good to help out.

[2017-12-05 21:53] Golodhros commented on #44
That would be awesome @nathanbirrell!

Take a look at our [docs](https://eventbrite.github.io/britecharts-react/) and our [Contributing guide](https://github.com/eventbrite/britecharts-react/blob/master/CONTRIBUTING.md) and let us know if you bump into any problem, we are around to help!

[2017-12-06 23:21] rubenmoya opened #71 "Improve charts mock data"
## Current Behavior
I started working in the `line` chart, and I realised that the `testData` file is getting quite big, and it will be a pain to work with it pretty soon

## Possible Solution
I've thought about having the mock data in the same folder as the chart/component, for example:

[code]

What do you think?

[2017-12-07 01:26] Golodhros commented on #71
That sounds awesome! Go ahead!

[2017-12-07 12:12] rubenmoya opened #73 "Tooltip erroring when using responsive container in line chart"
I've found a problem with the tooltip not being rendered correctly

## Current Behavior
<img width="427" alt="screen shot 2017-12-07 at 13 05 12" src="https://user-images.githubusercontent.com/905225/33714506-764620dc-db4f-11e7-8686-74471b2221d4.png">

I've been trying to debug it and I've found that [here](https://github.com/eventbrite/britecharts/blob/master/src/charts/line.js#L833) `path.nodes(

[2017-12-07 20:43] #45 closed

[2017-12-07 20:45] Golodhros opened #74 "Add tests to Bar Chart Component"
## Expected Behavior
Bar Chart component has tests

## Current Behavior
It doesn't!

[2017-12-08 02:01] #33 closed

[2017-12-08 06:04] miglesiasEB opened #75 "NS_UPDATE javascript error in Firefox"
## Expected Behavior

No errors

## Current Behavior

JS error in console

## Steps to Reproduce (for bugs)

1. Go to the demos with FF 57/58
2. Hover over the stacked area chart
3. See the error in the console

<img width="1668" alt="britecharts_react" src="https://user-images.githubusercontent.com/9063187/33753109-7b761396-db9a-11e7-97da-68a953c154d7.png">

## Context

It still works properly

#

[2017-12-08 06:09] miglesiasEB commented on #55
We should use some of Alby's improvement in the idea: https://codepen.io/albybarber/pen/YEbEZr

[2017-12-08 12:30] rubenmoya commented on #74
If someone is going to take this I'd recommend to wait until https://github.com/eventbrite/britecharts-react/pull/76 is merged, or create a branch from that one, since it changes where the test data is located.

[2017-12-08 12:31] rubenmoya commented on #68
It's the contact email the same as in Britecharts?

[2017-12-08 12:56] rubenmoya commented on #44
Ooops, I'm sorry @nathanbirrell, I wasn't aware you were taking care of this :(

[2017-12-08 16:45] rubenmoya opened #78 "Update to react 16"
Are we going to update the project to React 16?

[2017-12-08 16:50] jchen-eb commented on #78
That's a great idea. One issue though is that we're using britecharts-react in our company's app that's on React 15, I'm not sure if it will still work if there are two different versions of React. But our company's app will eventually be on React 16 so we will definitely make the upgrade at some point. Either way it's worth investigating to see if we can upgrade britecharts-react to React 16 firs

[2017-12-08 17:45] Golodhros commented on #68
Yeah, that's right. Thanks

[2017-12-08 22:19] jchen-eb commented on #78
So we *could* upgrade the project to React 16, but we would need to maintain compatibility with React 15 so that this module could be used within a React 15 app without needing to bundle an additional version of React 16. That would probably mean either:

1) Only use the parts of the React API that are compatible with both React 15 and 16. That way somebody could, in theory, use this module in bot

[2017-12-09 04:07] Golodhros commented on #78
Let's wait then. We can leave this open as a 'proposal' and move it depending on the push of the community for it.

[2017-12-09 04:08] #71 closed

[2017-12-09 04:08] #68 closed

[2017-12-09 04:09] #44 closed

[2017-12-09 17:34] rubenmoya commented on #75
I've been doing some research and seems to be related to the `.style('display', 'none')` not rendering the element and `.getBBox()` throwing an error.

There are two fixes for this that I've read so far, one of them is using `.getBoundingClientRect()` instead of `.getBBox()`, but it seems like some browsers calculate it different from others (some of them include stroke width in calculations and t

[2017-12-09 20:59] #74 closed

[2017-12-09 21:05] miglesiasEB opened #80 "Create Demo project using different compiling targets"
## Rationale
We want to have a small example project showing the different ways Britecharts-React can be added to our user's project.

## Possible Solution
I would aim for a simple Create-react-app with a couple of demo pages showing how to bring in Britecharts-react through the different methods:
 * Using the CDN links
 * Using NPM with the whole bundle
 * Using NPM with individual umd files
 * U

[2017-12-09 22:06] miglesiasEB opened #81 "Code generator to automate the creation of new chart skeletons"
## User story
As a contributor,
I want to run a command to create all the files I need to build a new chart
So that I can get started faster and my experience is great

## Current Behavior
Lots of files to create, and a lot of copy/pasting

## Comments
Check out https://www.npmjs.com/package/plop, it has been used with success in other Eventbrite projects.

## Context
Improving developer experienc

[2017-12-11 00:48] nathanbirrell commented on #44
Ha! No problem, thanks @rubenmoya 👍

[2017-12-11 09:35] rubenmoya commented on #81
What do you think it's the minimum skeleton? Just the files? or files plus content? I've realized that most of the charts are the same, just changing some props and the class names.

[2017-12-11 18:21] Golodhros commented on #81
I think that with the files, some of the methods and some comments to guide on creating new charts it will be enough.

There won't be a great number of new charts. I was thinking more in streamlining maintenance than in our current creation process, but this will help in both.

[2017-12-20 00:14] miglesiasEB commented on #55
We will probably want to use the loading state markup provided by the britecharts charts: https://github.com/eventbrite/britecharts/issues/449

[2017-12-25 19:33] Golodhros commented on #73
I have checked this and it is a bit puzzling.

The good news is that this error only happens when using the Responsive HOC. It works fine when we render a line chart by itself.

In this PR https://github.com/eventbrite/britecharts-react/pull/85 I have set up Storybook to see this error happening.

[2017-12-27 21:38] #67 closed

[2017-12-30 01:22] miglesiasEB commented on #52
I have moved this issue to Britecharts: https://github.com/eventbrite/britecharts/issues/465
A codepen reproducing it would be really appreciated.

Closing this.

[2017-12-30 01:22] #52 closed

[2017-12-30 23:55] #73 closed

[2018-01-05 00:37] miglesiasEB commented on #46
We could use  https://github.com/webpack-contrib/copy-webpack-plugin

[2018-01-08 07:04] Golodhros opened #93 "Line Chart not working on Firefox"
## Expected Behavior

Line chart working

## Current Behavior

<img width="1680" alt="fullscreen_1_7_18__11_02_pm" src="https://user-images.githubusercontent.com/190833/34661506-ffca1fee-f3fe-11e7-8c06-8cf34fe6a421.png">

## Context

## Your Environment

* Browser Name and version: FF 57
* Operating System and version (desktop or mobile): MacOS

[2018-01-09 22:22] #46 closed

[2018-01-10 02:03] #55 closed

[2018-01-10 20:19] miglesiasEB commented on #80
Created in https://github.com/Golodhros/britecharts-react-test-project

[2018-01-10 20:19] #80 closed

[2018-01-11 19:52] #93 closed

[2018-01-11 19:55] Golodhros opened #100 "Add proper meta tags and SEO related info to the Docs"
## Expected Behavior

We need to add metatags and info in our Docs template

## Current Behavior

Nothing there

## Context

We want to improve the chances of the project being discovered by potential users

[2018-01-11 19:57] miglesiasEB opened #101 "Add Google Analytics Tracking to Docs"
## Expected Behavior
Visits are being tracked

## Current Behavior
Not the case

## Possible Solution
Add GA tracking

[2018-01-11 22:44] #101 closed

[2018-01-12 00:28] #100 closed

[2018-01-12 01:30] miglesiasEB opened #105 "Linechart triggering JS error when combined with responsive container"
## Expected Behavior

No errors in console

## Current Behavior

The line chart hover triggers errors in the console

## Steps to Reproduce (for bugs)

1. Add Responsive container to linechart demos
2. Hover over it
3. See error in console

<img width="1680" alt="fullscreen_1_11_18__5_27_pm" src="https://user-images.githubusercontent.com/9063187/34855536-0bfe7500-f6f5-11e7-9dd1-0f48e9d80ace.png">

[2018-01-12 18:51] benmvp commented on #81
I'm really familiar w/ plop, but not familiar with what would be needed in a minimum skeleton. Can you point me to some examples of a couple of charts component examples that you'd wanted auto-generated?

[2018-01-12 18:55] benmvp commented on #78
The next big project for Frontend Platform team is React 16 so hopefully it won't be too long from now!

[2018-01-12 19:49] miglesiasEB commented on #81
We would love your support on this one @BenAtEventbrite!

A good example of the required structure would be the [bar chart folder][https://github.com/Golodhros/britecharts-react/tree/feat-packages-update/src/charts/bar]. Usually, for a chart called 'foo', we would need:
- Foo.js -> React component
- Foo.test.js -> React component test
- fooChart.fixtures.js -> Testing data
- fooChart.js -> Britech

[2018-01-12 23:00] benmvp commented on #81
Sounds simple enough. Is this the index.js file you mean? https://github.com/Golodhros/britecharts-react/blob/feat-packages-update/src/charts/index.js

[2018-01-12 23:10] Golodhros commented on #81
Yeah, that one!

[2018-01-27 04:16] Golodhros opened #107 "Legend Chart (vertical) breaking when combined with responsive containers"
## Expected Behavior
Vertical legend responds to changes in the width

## Current Behavior

Right now, the legend responds properly to the responsive HOC (or container) if it is a horizontal legend, the vertical one renders extra elements:
![britecharts_react_-_react_charting_library_based_in_britecharts](https://user-images.githubusercontent.com/190833/35468569-90d4849a-02d5-11e8-9eb7-228006f02f0

[2018-02-08 17:46] miglesiasEB commented on #81
Fixed by @speckospock in #112

[2018-02-08 17:46] #81 closed

[2018-02-14 22:36] jchen-eb opened #116 "When Tooltip is used with a child chart, and it receives new props, the child chart never updates"
## Expected Behavior
The child chart should update when props are swapped

## Current Behavior
The child chart does not update

## Possible Solution

## Steps to Reproduce (for bugs)

1. Create a chart with the Tooltip parent and a child chart (ex. StackedArea), with a valid data prop
2. Pass a new valid data prop to the child chart
3. Notice that child chart does not re-render with new data

## C

[2018-02-26 07:38] wulucxy opened #122 "npm start failed"
Failed to compile.

./src/charts/helpers/validation.js

/work/d3/britecharts-react-master/src/charts/helpers/validation.js
  24:30  warning  'data' is defined but never used  no-unused-vars

✖ 1 problem (0 errors, 1 warning)

 @ ./src/charts/bar/barChart.js 13:18-50
 @ ./src/charts/bar/Bar.js
 @ multi (webpack)-dev-server/client?http://localhost:8080 ./src/charts/bar/Bar.js

[2018-03-01 00:35] #107 closed

[2018-03-01 00:49] miglesiasEB commented on #122
This warning should be fixed with the last PR.
Closing now.

[2018-03-06 07:53] wulucxy commented on #122
@miglesiasEB still does not work。
the error message is:
[code]

[2018-03-06 16:04] miglesiasEB commented on #122
Will try to reproduce, thanks!

[2018-03-08 06:35] fireworks2005 opened #127 "v4.0.0 is not aligned with Demo"
I have observed that the demo shown in the web page [https://eventbrite.github.io/britecharts-react/#donut](url) uses the ResponsiveContainer to resize the chart according to different viewport.

However, such feature is not yet available in v4.0.0 lib.

When likely will be the next release to accommodate the latest codes ?

[2018-03-08 18:06] Golodhros commented on #127
Hi @fireworks2005 , thanks for creating this issue!

The Responsive Container is a helper component we use to demo this capability, but we weren't planning to add it to the library as it is out of the scope of it.
That said, you can grab it here: https://github.com/eventbrite/britecharts-react/blob/master/src/charts/helpers/responsiveContainer.js and use it in your projects.

Thanks,

[2018-03-09 09:18] wulucxy commented on #122
@maberastain-eb can you tell me how to start this project?
`npm run start` can not work

[2018-03-10 03:41] Golodhros commented on #122
Hi @wulucxy, could you update master and try again?
I cannot reproduce the error. Which node version are you using?

[2018-03-10 07:15] fireworks2005 commented on #127
Got it. Thanks

[2018-03-10 14:08] wulucxy commented on #122
my node is `v7.10.1`。
and i use yarn for installation.

[2018-03-10 17:29] #127 closed

[2018-03-10 19:02] Golodhros commented on #122
Hi @wulucxy,

Using yarn to install in 7.10 showed this message:
```warning You are using Node "7.10.1" which is not supported and may encounter bugs or unexpected behavior. Yarn supports the following semver range: "^4.8.0 || ^5.7.0 || ^6.2.2 || >=8.0.0"```
Maybe that's the issue?

When using npm to install and to run start with your node version it worked fine

[2018-03-14 07:10] wulucxy commented on #122
error msg:
<img width="697" alt="_65e1ade7-fd2b-407c-9b05-6693408b413c" src="https://user-images.githubusercontent.com/5326403/37387983-9cd60d98-2799-11e8-966c-093478df0f8b.png">

[code]
dashborad
<img width="875" alt="_dd4429cc-b75a-4051-b733-650ceef7a19a" src="https://user-images.githubusercontent.com/5326403/37388022-c13abe4a-2799-11e8-9c2c-47003840e8e7.png">

[2018-03-14 07:11] wulucxy commented on #122
@Golodhros `npm run build` seems ok。

so, how do you run the dev server?

[2018-03-14 16:19] Golodhros commented on #122
Did you try to install everything with npm instead of yarn?

For running the dev server you need to run that 'npm run start' and do also 'npm run styleguide' in order to see the docs.

[2018-03-22 01:58] dalerasrorov-eb opened #129 "Bug - Sparkline is drawn twice on render"
For some reason, the Sparkline chart is being re-rendered on refresh instead of doing it just once. This happens only for animated chart. Look at GIF screenshot

## Expected Behavior
Should render animated chart once without re-drawing.

## Current Behavior
Draws Sparkline with animation twice

## Possible Solution
Something has to do with update and animation. React chart component is probably ch

[2018-04-01 23:25] Golodhros commented on #122
Hi, could you make this work @wulucxy ?

[2018-04-02 00:04] miglesiasEB commented on #129
I haven't been able to reproduce this one, do you still see it @DalerAsrorov ?

[2018-04-03 02:40] robotastic commented on #44
I am trying to figure out how to do a different xAxisFormat so it doesn't just display the day of the month. I can't figure it out through. From the propTypes, it looks like it wants a string. Should that be one of the constants like MINUTE_HOUR?

Happy to add to the documentation once I figure out the proper way to do it.

[2018-04-03 05:30] Golodhros commented on #44
Hi @robotastic,

Yeah, you could use one of those or event set a 'custom' one and use `xAxisCustomFormat`.

Check http://eventbrite.github.io/britecharts/module-Line.html#.xAxisFormat__anchor for more details.

[2018-04-04 09:13] karlAlnebratt opened #132 "Cant set tooltip title to empty string"
When using the `<Tooltip />` chart. It is not possible to set an empty title

## Expected Behavior
When I set the Tooltip with an empty title `<Tooltip title="" />` the tooltip should not render a "tooltip title"

## Current Behavior
The tooltip is set to the default title "Tooltip title" instead of only the `formattedDate `

## Possible Solution
The `setChartProperty ` in `src/charts/helpers/conf

[2018-04-05 17:47] Golodhros commented on #132
@karlAlnebratt this is solved now, right?

[2018-04-06 08:32] karlAlnebratt commented on #132
Yes. Thanks for merging the PR

[2018-04-06 08:32] #132 closed

[2018-04-18 17:10] Golodhros commented on #75
Probably not, we would need to do the same for the Tooltip (that fix was for the mini-tooltip). That said, it shouldn't be hard to do!

[2018-05-18 18:58] ronvenna commented on #116
Bump. Any workaround for this currently?

[2018-05-18 22:14] dalerasrorov-eb commented on #116
@ronvenna thanks for bumping, we have not yet looked in this issue (due to different project priorities). I will look into it some time. Feel free to make a PR if you find a fix as well!

[2018-05-19 00:45] ronvenna commented on #116
@DalerAsrorov no problem, thanks for the quick response. Will take a look at this and submit a PR.

[2018-05-19 00:58] jchen-eb commented on #116
Hi @ronvenna,

One workaround I've been able to use is to wrap the entire chart in a functional component. This way, it forces React to instantiate a new object every time it gets new props.

So instead of
[code]

you can do:

[code]

This way, every time `render()` gets called, it creates a new functional component which it then renders, creating a new instance of the chart with the new data and

[2018-06-26 13:35] sdalezman commented on #78
We're using britecharts with react-16 and haven't had any problems yet (outside of some issues with react-test-renderer that we've worked around).

That being said, would love to see official support!

[2018-06-26 17:24] Golodhros commented on #78
Uohhh! Thanks for the heads up @sdalezman!

Let's see if we manage to move it soon!

[2018-10-03 19:08] davegomez commented on #105
I got the same error and display when changed the `topicLabel` value from `"topics"` to something else in the `<Line />` component prop.

[2018-10-04 17:54] davegomez commented on #75
Is there a way to go around this? Right now my UI is breaking in FF and this might be happening because I'm using React 16 but I wonder if there is a way to go around this while is fixed.

Can someone link the code used to build the Line chart with Tooltips in the docs (I haven't been able to find it)?

[2018-10-05 23:52] alcmacys opened #135 "Bar Chart Y-axis name value getting truncated to '...'"
I am trying to create a horizontal bar chart with multiple categories. Upon loading the data in the specified format, I am seeing issues with the name label on my Y-axis being truncated to '...' instead of showing the full name.

Tried setting the width to a large value but too no avail. I also see in the HTML that is generated that it is not a CSS issue, as the values are coded as '...' in the HT

[2018-10-06 03:01] Golodhros commented on #135
Hi @alcmacys, thanks for open an issue!

Could you try to play with the values of the left margin?

Let me know how it goes.

[2018-10-06 03:11] Golodhros commented on #75
Hi @davegomez,

I think this will be fixed when we get to rework the Tooltip in Britecharts (https://github.com/eventbrite/britecharts/issues/113). It is the next thing in my list, but I cannot give an estimate.

We haven't tested in React 16, but we would love to launch v1 with react 16 support.

The tooltip code is in Britecharts: https://github.com/eventbrite/britecharts/blob/master/src/charts/

[2018-10-08 20:41] alcmacys commented on #135
Hi @Golodhros - thanks for responding. For the left margin are you referring to the CSS or there is a method to do that? I also notice that some of the methods available on the generic API such as `'yAxisLabelOffset' `is not working on the `britecharts-react`

[2018-10-08 21:19] Golodhros commented on #135
Hi @alcmacys,

No, I mean the `margin` configuration of the chart:

            <Bar
                height={300}
                width={900}
                margin={top: 0, left: 40, right: 0, bottom: 0 }

You have the API here: http://eventbrite.github.io/britecharts/module-Bar.html

[2018-10-25 21:51] davegomez opened #136 "StackedArea chart doesn't render correctly"
I'm having issues when rendering the StackedArea chart in every browser.

## Expected Behavior
The StackedArea chart should look as the default one in the demo.

## Current Behavior
* It shows a black background for the data representations.
* Shows a black line across the Y axis
* Shows a black line below the X axis

## Steps to Reproduce (for bugs)
This is the code I'm using:
[code]

and this is

[2018-10-25 22:55] Golodhros commented on #136
Hi @davegomez, thanks for the question.

I think you just need to add the styling to it. If you are using the CDN links it should be OK by adding:
    		<link href='https://cdn.jsdelivr.net/npm/britecharts-react@0.4.1/dist/britecharts-react.min.css' rel='stylesheet' type='text/css'>

in the header of your page

[2018-10-25 22:58] davegomez commented on #136
I'm so toasted that I forgot I did the same with the others...

Thanks @Golodhros

[2018-10-25 22:59] #136 closed

[2018-11-01 11:30] davegomez commented on #75
Hello @Golodhros.

Any idea of when a new release of Britecharts React may happen including the latest fixes merged to the project?

[2018-11-01 14:37] Golodhros commented on #75
Hi @davegomez,

Yes! We are trying to do a new release, but we are having some issues with the deployment. Our OPS team will hopefully get to it soon and we will be good to go!

[2018-11-01 18:54] FrankBrullo opened #139 "Support TypeScript"
It seems that the library doesn't have the Typescript types defined.
I tried to do **npm i @types/britecharts-react** but the module doesn't exist.

I used `react-scripts-ts` to create my react test project.

Below the TypeScript error I get from the compiler when I import the library:

_Could not find a declaration file for module 'britecharts-react'. 'test-app/node_modules/britecharts-react/dist

[2018-11-01 19:10] Golodhros commented on #139
Hi @FrankBrullo, thanks for opening this issue.

Yes, we don't have TS types. Several people talked about it in https://github.com/eventbrite/britecharts/issues/223, but never came out of it yet.

We are open to PRs though.

[2018-11-06 18:52] davegomez commented on #116
This is an issue that is affecting other charts as well, so I created a [prototype](https://codesandbox.io/s/43101lzyw9) comparing the **Bar** and **Line** charts where you can see the issue happening.

I can work on a solution for this and make a PR but I need some help finding the issue.

[2018-11-08 21:12] FrankBrullo commented on #139
Ok, I will do and let you know when the PR is ready.
Also, while I am looking at the Donut I am not seeing implemented **customMouseMove** and more importantly **customClick**.
Any idea why?
How can I get the click event in React if they aren't defined as props?

Thanks.

[2018-11-09 14:48] Golodhros commented on #139
That would be awesome @FrankBrullo!! Thanks a lot for doing this!!

True, those handlers are not set, but they should. We would need to add them there as proptypes and they should be ready to use!

[2018-11-09 14:49] Golodhros opened #140 "Add customMouseMove and customClick to Donut chart"
## Expected Behavior
Have those hooks

## Current Behavior
It doesn't have it

## Possible Solution
Add them as proptypes

[2018-11-09 15:33] davegomez commented on #78
@Golodhros and @jchen-eb I would like to work on this and see if I can add support and as many new features while keeping the compatibility with React 15. Will be fun 😁

[2018-11-09 15:33] FrankBrullo commented on #139
@Golodhros That would be great!
Do you have an ETA on when it will be fixed?
I need to include those events in my Typescript types for the Pie Chart before sending the PR to you.

Thanks,
Frank

[2018-11-09 18:19] Golodhros commented on #78
That would be awesome @davegomez!!

I am pushing for having our release issue fixed so we can start moving forward, hope it is done by next week!

Re: Flow, it seems that somebody is looking into adding Typescript to Britecharts and we want to have it open to different platforms (using this code to fuel the Angular and Vue wrappers). Not sure if Flow fits well into this strategy.

[2018-11-09 18:20] Golodhros commented on #139
I will try to go over it this weekend, but until we fix the release issue(hopefully next week) we won't be able to publish it.

[2018-11-09 18:49] FrankBrullo commented on #139
Let me know when you push your changes on Git so I can update my fork.
I hope to deliver the Typescript changes before your release so we will have everything in one shot.

[2018-12-04 17:59] Golodhros commented on #75
We have a new release, but this doesn't seem to be solved :(

[2018-12-04 18:09] Golodhros commented on #75
Well, it seems fixed in the CodePen, maybe it is an issue with the docs.

[2018-12-04 18:30] Golodhros commented on #135
Did this help you with this issue @alcmacys?

[2018-12-04 19:18] davegomez commented on #78
@Golodhros you should close this issue too.

[2018-12-04 19:19] #140 closed

[2018-12-04 19:20] davegomez commented on #105
@Golodhros can you check if this issue still exist in the new version? I think this might be solved with the changes to the way we are binding the references.

[2018-12-04 19:21] #122 closed

[2018-12-04 19:22] miglesiasEB commented on #78
Thanks @davegomez for this!!

[2018-12-04 19:22] #78 closed

[2018-12-04 19:23] miglesiasEB commented on #139
Hi @FrankBrullo, the handlers are ready and the release pipeline is working again!

[2018-12-04 20:06] dupski commented on #139
+1 for TS support. Give me a shout if you need any assistance @FrankBrullo :)

[2018-12-04 20:31] FrankBrullo commented on #139
Hi @miglesiasEB sorry for the radio silence but I got some issues to continue working on the PR.
Now I have sorted out everything and I have restarted.
Is there a way I can get an invite to join your slack channel so I can ask you a couple of questions I have?

@dupski Thank you for the offer I will definitely take it! :) I will send you a preliminary PR for you to review because I am not much fam

[2018-12-04 20:48] dupski opened #144 "Importing withResponsiveness() helper"
Hi Guys. Could you advise on the intended way to import the `withResponsiveness` helper?

## Current Behaviour

In the docs it uses a relative import, which I assume is because you compile your docs examples (nice)

<img width="715" alt="screen shot 2018-12-05 at 7 37 41 am" src="https://user-images.githubusercontent.com/8173903/49471327-b1e62900-f860-11e8-99a4-4ce90480110a.png">

I've found the c

[2018-12-04 20:53] dupski commented on #139
Same here regarding familiarity @FrankBrullo as I'm only just starting with this library but happy to take a look and give it a test :)

[2018-12-04 22:08] miglesiasEB commented on #139
Sounds good!

We have a channel in the official [d3 slack](https://d3js.slack.com/). Join us there @FrankBrullo !

[2018-12-04 22:13] Golodhros commented on #144
Hi @dupski, thanks for opening this issue!

Well, we weren't planning to include that with the library, that's why is so hard to access. That said, this is not the first time that somebody asks for it.

Should we include it in our dist folder then?

[2018-12-04 22:17] Golodhros commented on #105
Yeah, just added it to my list!

[2018-12-04 22:18] davegomez commented on #144
Since is an option we have for the charts and is a feature listed in the docs I think it should be included or at least well referenced in the docs, but first I think we should fix the issue #105 that is still happening in `britecharts-react` v0.5.0 as you can confirm in this [test project](https://codesandbox.io/s/43101lzyw9).

[2018-12-05 23:49] davegomez opened #146 "Update project's documentation"
## Expected Behavior

To offer correct and complete documentation on how to use the library.

## Context | Current Behavior

The documentation offers a poor description on how to use the chart components as well on how to use the responsiveness helpers as described in the issue #144.

## Possible Solution

* Update the documentation with correct and tested code.
* Offer correct and easy to find da

[2018-12-06 03:37] dupski commented on #135
Hey guys. I am also seeing this issue.

<img width="604" alt="screen shot 2018-12-06 at 4 31 30 pm" src="https://user-images.githubusercontent.com/8173903/49559740-a2f09b00-f974-11e8-826f-50a3d0cffcf4.png">

The `margins` prop does not help. The library is actually rendering "..." in the source.

<img width="459" alt="screen shot 2018-12-06 at 4 35 03 pm" src="https://user-images.githubusercontent

[2018-12-06 04:07] dupski commented on #135
It appears to be related to the length of the labels. If I reduce the figures then they render correctly, so there must be a magic auto-truncation going on somewhere in the library based on the label string length

<img width="466" alt="screen shot 2018-12-06 at 5 05 26 pm" src="https://user-images.githubusercontent.com/8173903/49560914-522f7100-f979-11e8-8400-fd725a6d36ab.png">
(also got the colo

[2018-12-06 04:14] miglesiasEB commented on #146
Thanks @davegomez for the issue!

Yes, it makes sense to add docs about the responsive HOC and container.

For the test data, we could provide links to the fixtures in Britecharts for now, looking into a better solution in the future.

True, a tutorial on how to use the library with different options (CommonJS, ES5 and the CDN option) would be great too.

[2018-12-06 04:14] dupski commented on #135
Related: https://github.com/eventbrite/britecharts/issues/691 - looks like it is caused by use of the internal wrapTextWithEllipses method. I guess we'll need a new release of the main britecharts module to fix

[2018-12-06 04:18] miglesiasEB commented on #135
I see, maybe it was a real issue then.

For the time being, could you try to reproduce this issue in a Codepen? This would allow me to play around to see if there is other solution. You could use https://codepen.io/Britecharts/pen/RQQabr as a jumpstart.

Thanks for your time!!

[2018-12-06 04:32] dupski commented on #135
Ah, ok, yeah it only happens when you don't allow sufficient left margin (as mentioned in the ticket I linked).

Repro codepen: https://codepen.io/dupski/pen/PxryBe

As mentioned in the other ticket, it would be nice to have the ability to turn this off (or use CSS), but otherwise setting the margin to a high enough number works.

So @alcmacys , you need to add the `margin` prop to your bar, but *

[2018-12-06 04:42] Golodhros commented on #135
Thanks for your time @dupski!!

Yeah, that's usually the case with Britecharts in general. Maybe you are right and we should allow to not activate the automatic ellipsis, but that would make those labels to get cut. In one way, this behavior makes the issue more explicit (although it doesn't tell you: you should give more left margins!), but I know is not ideal.

I think the totally ideal solution

[2018-12-06 04:43] #135 closed

[2018-12-06 05:18] dupski commented on #135
No worries @Golodhros - thanks for your work on this library :)

I think in general a more complete Getting Started example would be helpful. At the moment the README and docs site over-simplify some of the examples. It would be good to show an example, complete with its associated data (from a `const`), a good-sized initial `margin` setting, and using a colour palette.

I found I had to hunt arou

[2018-12-06 06:39] Golodhros commented on #135
Makes sense!

I have a tutorial in a post ready to publish once we launch the v1 of Britecharts-React. I was planning to get there long before now, but life got complicated...

I will to push hard in the following months and get this through!

[2018-12-06 06:54] dupski commented on #135
Nice man. Happy to help out where I can, let me know :)

I'm hoping to use this library to power the charts in a new open source CRM product I am building :)

[2018-12-06 16:39] Golodhros commented on #135
That is great @dupski!!
Helping developers like you is the goal of Britecharts, so we are glad of having you helping with it!!

[2018-12-11 02:51] davegomez commented on #129
@Golodhros I have been looking into this issue and what is really happening is that (at least in the docs) the Sparkline chart is re drawn because the responsive behavior is applied to it and it happens with every other responsive chart with the loading state active.

Every time the size of the chart changes the animation starts again.

One possible "solution" considering this as an issue would be

[2018-12-11 03:40] Golodhros commented on #129
Hi @davegomez,

Oh, actually this got fixed! It was doing it twice, now works great!

I think it had to do with your fix in the responsive container.

Thanks!

[2018-12-11 03:40] #129 closed

[2018-12-11 04:18] miglesiasEB commented on #105
This is working properly too!
🎉

[2018-12-11 04:18] #105 closed

[2018-12-11 04:19] miglesiasEB commented on #144
All ready and working properly!

[2018-12-11 04:19] #144 closed

[2018-12-11 05:07] miglesiasEB opened #148 "Update Node"
Update node to the last long term supported version

[2018-12-11 11:30] davegomez commented on #148
In my PR to update to React 16 I updated all the dependencies but Node. Maybe there's some additional dependencies to update now after a couple of weeks but update to a newer version of the style guide shouldn't be a problem.

[2018-12-11 15:37] juanpaucar commented on #144
@miglesiasEB Hi guys, sorry to bother you. I was wondering if you have a date to upload this to npm. I'm having some issue with this on a typescript project and jest.... and I ran out of ideas to make it work for the tests

[2018-12-11 16:44] Golodhros commented on #144
Hi @juanpaucar,

I just released 0.5.1 with this fix, it should be ready in NPM soon!

[2018-12-11 16:48] Golodhros commented on #148
Oh, true, you also updated Styleguidist.
I will rename this to be only Node.

Thanks!

[2018-12-11 17:02] juanpaucar opened #150 "Tooltip with StackedBar not being rendered"
## Expected Behavior
When I add a Tooltip for a StackedBar, I expect the tooltip being rendered along with the chart. This is also happening to me on Bar charts.

## Current Behavior
The tooltip is not being rendered. I created a small pen to show you the behavior. I started from a similar pen which worked for Line charts.

The chart is being rendered, but the tooltip is not being rendered.

## Po

[2018-12-11 17:15] juanpaucar commented on #144
Thank you very much :D

[2018-12-12 01:47] Golodhros commented on #150
Hi @juanpaucar, thanks for opening this issue!

I just noticed we don't have an example of this in the docs. In theory, it should work but I don't discard there is an issue somewhere.

I will try to work it out in the demos and then come back to you here.

Thanks again!

[2018-12-12 02:49] juanpaucar commented on #150
Hi, thank you guys for the wrapper and the library itself. I thought I was doing something wrong... or am I 🤔

[2018-12-12 19:19] davegomez commented on #150
I can confirm that the [tooltip is not being rendered with the StackedBar chart](https://codesandbox.io/s/4k76jy9z4) and is not throwing any error either. Gonna take a look.

[2018-12-16 12:56] davegomez commented on #150
@Golodhros this should be mark as a bug.

I've been playing with the charts and found that GroupedBar and StackedBar are not calling `componentDidUpdate` after the initial render, so the method `createTooltip` is never called for these charts.

[2018-12-16 17:12] Golodhros commented on #150
Thanks for the debugging @davegomez!!

[2018-12-29 21:27] dburandt opened #151 "Parse error when when generating chart boilerplate via plop"
Hi there! I wanted to take a stab at creating a Scatter Plot, but I'm getting an error when I try to use plop to generate the boilerplate code.

## Expected Behavior
Plop should generate 7 boilerplate files for a Scatter Plot.

## Current Behavior
I get the following error:

[code]

## Possible Solution
Looks like maybe a missing bracket in Component.test.js. I couldn't find the fix after a few mi

[2019-01-04 09:22] DalerAsrorov commented on #151
I just created a PR for the fix: https://github.com/eventbrite/britecharts-react/pull/152. Turns out the problem was with the `Component.test.js` template file since it's been changed. You can wait until this PR is merged or remove this section of code https://github.com/eventbrite/britecharts-react/blob/master/plopfile.js#L31-L35 and create a custom file with tests in this path `src/charts/scatte

[2019-01-04 10:20] #151 closed

[2019-01-16 14:27] aishmitk opened #153 "Styling ticks to fix offset and overlap"
I trying to fix the styling of the ticks and their labels.

The tick labels of my y-axis seem to be offset. This can be fixed with a simple styling overwrite, but how would you guys go about doing this exactly?

The tick labels of my x-axis seem to be overlapping when there are a lot of columns which is very frustrating, since I cannot control the number of ticks in the x domain.

## Screenshots (

[2019-01-16 14:53] aishmitk commented on #153
Perhaps it would be nice to only not have the name show up at the bottom? Rather use a different key to populate ticks instead?

[2019-01-16 15:06] aishmitk commented on #153
Also is there any proper documentation for `nameLabelFormat`? I feel like this may be a viable solution however all I can find is that `nameLabelFormat` accepts a `string[]`

[2019-01-16 19:34] Golodhros commented on #153
Hi @aishmitk, thanks for creating this issue!

I see the y-axis offset, it feels weird. I would tweak it with CSS as you mention. If you post it as a Codepen I could help you more (You can jumpstart it from [this one](https://codepen.io/Britecharts/pen/PxvZBJ)).

Regarding the x-ticks, you could try to specify a number with `xTicks` (http://eventbrite.github.io/britecharts/module-Stacked-bar.html#

[2019-01-17 18:32] dupski commented on #146
Yeah, I guess that the difficulty with open source being volunteer driven. Unfortunately I didn't have time to get to it that weekend and evidently no one else has :)

There's a discussion on the with responsiveness() helper here as I had the same issue:
https://github.com/eventbrite/britecharts-react/issues/144

HTH

[2019-01-17 18:54] Golodhros commented on #146
Regarding loading the modules, I think this test project can help a bit on it:
https://github.com/Golodhros/britecharts-react-test-project/tree/master/src/donut

[2019-01-18 10:06] micTrb opened #154 "highlightSliceById prop of Donut component is not working"
## Expected Behavior
when defining the Donut component
`<Donut
	data={data}
	highlightSliceById={2}
/>
`

on page load, I should visualize the donut chart with the slice out of the outer radius and the data shown in the center of the donut.

## Current Behavior
It is not showing!

## Possible Solution
I don't need a new solution. I just need that prop to work!

## Your Environment

* Version used:

[2019-01-18 16:08] #154 closed

[2019-02-01 21:56] jjphung commented on #153
This is probably a really elementary question. But how do you apply CSS to the graph? The graph is rendered to a SVG element. I am trying to left align axis tick labels (more specifically x-axis on horizontal bar graph)

[2019-02-03 18:10] Golodhros commented on #153
Hi @jjphung, sorry for the delay!

In order to apply that CSS styling, you would do something like this:
[code]

And probably adjust the x axis position:
[code]
(Assuming the original translation was 400px, that could be different in your case)

[2019-02-03 21:32] jjphung commented on #153
@Golodhros Thank you so much! I was trying to apply CSS properties through stuff like: "text-align: left". I didn't notice the text transform properties being applied to the classes. Adjusting the text transform properties did the trick!

[2019-03-11 11:02] Dezzymei commented on #150
Is there a way to do this then? I might look for a different solution if this library is not complete...

[2019-03-21 03:09] Golodhros commented on #153
Closing due to lack of activity.

[2019-03-21 03:09] #153 closed

[2019-04-16 09:28] mitom opened #155 "Chart does not render with Tooltip when data is progressively added"
## Expected Behavior
When a chart is set to render with a tooltip and data is progressively added, the chart should render and update continuously. This works _without_ a tooltip: https://codepen.io/anon/pen/zXPVba

## Current Behavior
The chart renders, but the data line is not shown: https://codepen.io/anon/pen/EJbJGq

## Possible Solution
Not sure, may be something I did wrong?

## Steps to Rep

[2019-04-16 12:02] davegomez commented on #155
@mitom did you check the workaround proposed in the issue #116?

[2019-04-16 12:38] mitom commented on #155
@davegomez I gave it a go just now. I'm not sure if I'm not applying that correctly, but it seems to behave the exact same for me: https://codepen.io/anon/pen/EJbJGq

[2019-04-16 12:47] davegomez commented on #155
@mitom in your example you are using the time interval to render the component, so this will render just once and will be remove the next time the setInterval hits. You have to use the setInterval to update the props, not ro render the component.

I can't give it a try right now because I'm busy try to do what I told you and let me know if it helps.

I can give it a try later.

[2019-04-16 13:12] mitom commented on #155
Thank you for the answer @davegomez, I was able to figure it out. For anyone who gets stuck on this, here is the working example: https://codepen.io/anon/pen/QPaNBR

[2019-04-16 13:12] #155 closed

[2019-05-27 20:13] Golodhros commented on #148
Fixed in #156

[2019-05-27 20:14] #148 closed

[2019-07-17 19:25] orangewit3 opened #165 "Feature Proposal"
Enable labels for stacked bar chart

I wanted to know if the stacked bar chart could have a total count value at the end of the bars similar to the single bar chart component.

![Screen Shot 2019-07-17 at 12 19 35 PM](https://user-images.githubusercontent.com/43012690/61404821-2f5d2780-a88d-11e9-85bb-3cd766c9c3e4.png)
-----------------
![Screen Shot 2019-07-17 at 12 24 01 PM](https://user-images.g

[2019-07-17 19:41] Golodhros commented on #165
Hi @orangewit3, thanks for the issue!

It makes sense, we could add this.

Would you mind to add this into the [Britecharts repository](https://github.com/eventbrite/britecharts/issues) instead? We will take care of making it available in Britecharts React once is there.

[2019-07-17 19:48] orangewit3 commented on #165
Hi @Golodhros,

Thanks for the quick response. I'll add it right away.

Also another question: I saw that there was another open issue regarding the tooltip not working on the stacked bar chart do you know if that's been resolved yet?

[2019-07-17 20:21] Golodhros commented on #165
It doesn't seem to. It is malfunctioning on the demo, sorry!

[2019-07-17 20:54] davegomez commented on #165
It is fixed @golodhros, my last two PRs fixed both bugs opened in the issues.

I was wondering why you haven’t released a new version of the library with these fixes? 😂

[2019-07-17 21:28] Golodhros commented on #165
Oh, sorry @davegomez!! Will do right now!

[2019-07-17 22:02] Golodhros commented on #165
Done!

[2019-07-17 22:02] miglesiasEB commented on #165
Closing as it is on Britecharts already.

[2019-07-17 22:02] #165 closed

[2019-07-18 00:41] davegomez commented on #150
This is already fixed in the PR #163

[2019-07-18 00:42] davegomez commented on #116
This is already fixed too in the PR #164

[2019-07-18 03:59] miglesiasEB commented on #116
Thanks!

[2019-07-18 03:59] #116 closed

[2019-07-18 04:01] Golodhros commented on #150
It seems we still have some issues. If you check on https://eventbrite.github.io/britecharts-react/#!/StackedBar/5, the tooltip only shows when we are hovering outside the stacked bars.

[2019-07-18 12:06] davegomez commented on #150
This is a good case for it was working for me... gonna take a look on that today. Thanks for the demo 🙂 @Golodhros

[2019-07-18 16:09] Golodhros commented on #150
Thanks a lot @davegomez! You are really making a dent in Britecharts-React!

[2020-04-29 14:08] brandtOSS opened #175 "Support Locale in Bar Chart"
The Britecharts library introduced options to set the locale for the bar chart.
This enables overriding the standard number formatting and for example use different decimal separators and/or currency symbols in the axis labels and the bars labels.

## Expected Behavior
Being able to change the locale, e.g. allow GBP or EUR sign be used for number formatting.

## Difference from Current Behavior
No

[2020-05-07 21:55] isaiahtaylor commented on #139
Any motion on this?

[2020-05-07 22:20] Golodhros commented on #139
Not really, a lot of people offered to add the types but nobody actually did!

[2020-11-05 19:16] ImADrafter commented on #139
I think It would be interesting to have [this one](https://github.com/britecharts/britecharts/pull/868), since some types can be reused. Anyway, we can start typing the props and the whole config before that gets merged. May I work on this ? :D

[2020-11-05 19:31] Golodhros commented on #139
Hi @ImADrafter!
I hope we could reuse the types between Britecharts and Britecharts-react, and use them to keep track of how complete are the Britechart React apis.

In my mind, the future should be a monorepo for britecharts, with @britecharts/core, @britecharts/react, @britecharts/types, @britecharts/angular and so on.

If you have time to work on this stuff, I would actually love to get some he

[2020-11-20 14:58] zedtux opened #191 "Broken and unclear documentation"
## Expected Behavior
I'm trying to get a line chart working but it's quite hard since [the Line documentation examples are broken](https://britecharts.github.io/britecharts-react/#line) and quite unclear because, for instance, the first example code look like this:

[code]
The import of the `<Line>` component seem to be missing?

## Current Behavior

After searching a lot, I got a working chart, a

[2020-11-20 17:18] Golodhros commented on #191
Thanks for the issue @zedtux!
Sorry for that, I will try to jump into this during the weekend!

[2020-11-24 01:21] Golodhros commented on #191
This fixes the demo: https://github.com/britecharts/britecharts-react/pull/192

[2020-11-24 01:27] Golodhros commented on #191
You are right about the axisTimeCombinations, that should be provided along with the chart component. I will fix that soon.

For now, you can reference this file: **https://github.com/Golodhros/britecharts/blob/6cc31390f7acbe21faafbf30baeeb5921c4c3810/src/charts/helpers/constants.js#L8**

[2020-11-24 06:03] Golodhros commented on #191
This should fix it: https://github.com/britecharts/britecharts-react/pull/193

[2020-11-24 06:04] #139 closed

[2020-11-24 06:31] zedtux commented on #191
Just to let you know: I've switched to another library, but it's cool you're fixing all that things. Will see in a next project if this lib is strong enough 😉

[2020-11-24 17:01] Golodhros commented on #191
Totally understand!
We have left aside Britecharts React for too long while we prepare Britecharts V3. Hopefully you will get all the new goodness when you are back to check!

[2021-01-12 21:19] marcelovani commented on #191
composer.json needs to be updated to use the latest tag https://github.com/britecharts/britecharts-react/releases/tag/0.6.3

[2021-01-13 20:50] Golodhros commented on #191
Not sure if I understand, it seems the package.json version is 0.6.3

[2021-01-14 09:46] marcelovani commented on #191
Sorry, I was meant to paste this url https://github.com/britecharts/britecharts-react-test-project/blob/master/package.json
The test project is still broken on master

[2021-01-14 20:11] Golodhros commented on #191
Ah, thanks for the heads up!!

[2021-01-14 20:11] #191 closed

[2021-01-16 09:07] marcelovani opened #201 "customClick method is not working"
The customClick method is broken.

I tracked this comment https://github.com/britecharts/britecharts-react/issues/139#issuecomment-437157806 where they talk about it, it then gets implemented, but probably never tested.

## Expected Behavior
When I use customClick in my React component, it should detect mouse clicks

## Current Behavior
Javascript error: Uncaught Error: Method not supported by Bri

[2021-01-16 09:09] marcelovani commented on #201
PR here https://github.com/britecharts/britecharts-react/pull/202

[2021-01-16 12:19] marcelovani commented on #201
Thank you for merging the pr. Shall I close the issue now or we close after you make a new release?

[2021-01-16 17:16] Golodhros commented on #201
Closing now, fix in its way on v0.6.4

[2021-01-16 17:16] #201 closed

[2021-03-11 20:00] Golodhros opened #206 "Move implementation into Hooks"
## Expected Behavior

Component wrapper should be a hooks based implementation

## Difference from Current Behavior
Right now we have classes

## Possible Implementation
I have a good example here:
[code]

## Context
Modernizing the library

[2021-03-11 20:04] Golodhros opened #207 "Move into TypeScript"
## Expected Behavior
Move library to Typescript

## Difference from Current Behavior
Right now is on JS with declaration files

## Possible Implementation
[code]

See the issue about the hooks for the component.

## Context
Typescript seems to be the standard nowadays for libraries and React development.
It is easy for us doing this than maintaining the declaration files.

[2021-11-01 18:52] Golodhros commented on #175
Included on the RC1: https://github.com/britecharts/britecharts-react/commits/release/1.0.0-rc1

[2021-11-01 18:52] #175 closed

[2022-04-28 20:08] matthewvolny opened #238 "How to change the font-size for the x- and y-axes?"
I have been combing the docs looking for a way to change the font-size of the x- and y-axes for a barchart, but don't see an easy answer.  I am able to enable labels at the ends of the bars (enableLabels) and resize the font for these (labelsSize), but as I said, no info that I can tell on changing font-size for the axes.  Perhaps I am missing something obvious.  See this forked codepen for an exa

[2022-04-28 20:14] Golodhros commented on #238
Hi @matthewvolny, thanks for using Britecharts and asking this question!

You mean to update the font size of the category labels on the axes, right? I would advise to use CSS for that, try something like this:
[code]

[2022-04-28 20:29] matthewvolny commented on #238
@Golodhros  Thanks! Worked like a charm.  I see now that taking this approach I can change other aspects of the charts styling (see below).  I did try targeting the chart elements with css before but somehow missed the "text" element inside of the "tick" class.  Yes, cool charting package.  And I like the react wrapper.  Take care.
(i.e.
.vertical-grid-line {
  display: none !important;
}
)

[2022-04-28 23:07] Golodhros commented on #238
Awesome!

Keep an eye on the project, we are adding cool stuff for version 3!!

[2022-04-28 23:07] #238 closed, assigned to nobody